<div>
  {{#each fasce}}
    {{! if non fa comparazioni mi registro una funzione eq e gli passo i parametri }}
    {{#if (eq type "slider")}}
      {{#each elencoCard}}
        <div class="card">
          <div class="card-img-top" alt="calc">
            {{imgUrl}}
          </div>
          <div class="card-body">
            <h5 class="card-title">
              {{titolo}}
            </h5>
            <p class="card-text">
              {{description}}
            </p>
          </div>
        </div>
      {{/each}}
    {{/if}}
  {{/each}}
</div>